:root {
  --color-primary: #00171F;
  --color-white: rgb(241, 241, 241);
  --color-light-gray: rgb(165, 164, 164);
  --color-dark-gray: rgb(83, 83, 83);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-primary);
  background-color: var(--color-dark-gray);
  margin: 0;
  padding: 0;
}

body {
  margin: inherit;
}

.headings {
  font-weight: 700;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: var(--color-light-gray);
  min-height: 100vh;
}

.navigation {
  min-height: 7rem;
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  height: 50rem;
  background-color: var(--color-dark-gray);
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-white);
  background: linear-gradient(90deg, rgba(0, 12, 23, 0) 30%, #e4e4e4 55%), url(/static/images/hero-image.jpg);
  background-size: cover;
}
@media only screen and (max-width: 800px) {
  .hero {
    height: 70rem;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 12, 23, 0) 30%, #e4e4e4 55%), url(/static/images/hero-image.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 600px) {
  .hero {
    height: 80vh;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 12, 23, 0) 30%, #e4e4e4 55%), url(/static/images/hero-image.jpg);
    background-size: cover;
  }
}

.main-content {
  background-color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.footer {
  min-height: 7rem;
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #090031;
}

.form-test {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FDFDFD;
  padding: 25px;
  font-size: 1.6rem;
  margin: 20rem auto;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #00171F;
  background-color: inherit;
}

input:focus {
  outline: none;
  border-bottom: solid 4px red;
}

button, input, select, textarea, label {
  font-family: inherit;
  font-size: 100%;
  padding: 5px;
}

label {
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.navigation {
  font-size: 1.6rem;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
}
.navigation a {
  text-decoration: none;
  color: inherit;
}
.navigation a:hover {
  color: orangered;
  transition: all 0.2s;
}
.navigation__home {
  margin-left: 4rem;
}
.navigation__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 4rem;
}
.navigation__links li {
  margin: 1rem;
}

.hero__image {
  flex: 0 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 89% 0, 80% 100%, 0% 100%);
}
@media only screen and (max-width: 600px) {
  .hero__image {
    flex: 0 0 40%;
  }
}
.hero__content {
  flex: 0 0 50%;
  padding: 7rem;
  font-size: 1.6rem;
}
@media only screen and (max-width: 600px) {
  .hero__content {
    flex: 0 0 60%;
    padding: 4rem;
  }
}
.hero__content a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 700;
}

.main-content__card {
  flex: 1 1 30rem;
  margin: 4rem;
  height: 40rem;
  background-color: #FDFDFD;
  font-size: 1.6rem;
}
.main-content__card--image {
  height: 18rem;
  background-color: orangered;
  background-image: url(/static/images/hero-image.jpg);
}
.main-content__card--text {
  padding: 0 2rem;
}

.ham {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  border: black solid 1px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  display: none;
  transition: transform 0.2s;
  list-style: none;
  padding-top: 4rem;
}

/*# sourceMappingURL=styles.css.map */
