:root {
  --color-primary: #00171F;
  --color-white: rgb(241, 241, 241);
  --color-light-gray: rgb(165, 164, 164);
  --color-dark-gray: rgb(83, 83, 83);
  --color-accent-dark: rgb(61, 116, 65);
  --color-accent-light: rgb(192, 248, 196);
  --color-neutral: rgb(247, 248, 228);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

body {
  margin: inherit;
}

.headings {
  font-weight: 700;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #ecebeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 12px 4px rgba(180, 180, 180, 0.4);
}

.wrapper {
  flex: 1 1 auto;
}

.navigation {
  height: 4rem;
  background-color: var(--color-neutral);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.hero {
  height: 50rem;
  background-color: var(--color-accent-light);
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 800px) {
  .hero {
    height: 70rem;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 12, 23, 0) 30%, #e4e4e4 55%), url(/static/images/hero-image.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 600px) {
  .hero {
    height: 80vh;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 12, 23, 0) 30%, #e4e4e4 55%), url(/static/images/hero-image.jpg);
    background-size: cover;
  }
}

.main-content {
  background-color: var(--color-neutral);
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  flex: 1 1 auto;
}

.footer {
  min-height: 7rem;
  background-color: var(--color-accent-dark);
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.post-header-image {
  min-height: 50rem;
  background-color: orange;
  background-size: cover;
}

.post-main {
  min-height: 90rem;
  display: flex;
  font-size: 1.6rem;
}
@media only screen and (max-width: 600px) {
  .post-main {
    flex-direction: column;
  }
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #090031;
}

.form-test {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FDFDFD;
  padding: 25px;
  font-size: 1.6rem;
  margin: 20rem auto;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #00171F;
  background-color: inherit;
}

button, input, select, textarea, label {
  font-family: inherit;
  font-size: 100%;
  padding: 5px;
}

label {
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.navigation {
  font-size: 1.4rem;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
}
.navigation a {
  text-decoration: none;
  color: inherit;
}
.navigation a:hover {
  color: orangered;
  transition: all 0.2s;
}
.navigation__home {
  margin-left: 4rem;
}
.navigation__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 4rem;
}
.navigation__links li {
  margin: 1rem;
}

.hero__image {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__image--shape {
  height: 40rem;
  width: 40rem;
  background-color: red;
}
@media only screen and (max-width: 600px) {
  .hero__image {
    flex: 0 0 40%;
  }
}
.hero__content {
  flex: 0 0 50%;
  padding: 7rem;
  font-size: 1.6rem;
}
@media only screen and (max-width: 600px) {
  .hero__content {
    flex: 0 0 60%;
    padding: 4rem;
  }
}
.hero__content a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 700;
}

.main-content__card {
  flex: 1 1 30rem;
  margin: 4rem;
  height: 40rem;
  background-color: #f1f1f1;
  font-size: 1.6rem;
}
.main-content__card--image {
  height: 18rem;
}
.main-content__card--text {
  padding: 0 2rem;
}

.all_posts {
  font-size: 1.6rem;
}
.all_posts h1 {
  margin: 4rem 0 0 4rem;
}
.all_posts ul {
  margin-bottom: 2rem;
}
.all_posts li {
  list-style: none;
  padding: 0;
}

.delete {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.edit {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.ham {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  border: black solid 1px;
  border-radius: 50%;
  background: var(--color-white);
  cursor: pointer;
  z-index: 1;
}
@media only screen and (min-width: 600px) {
  .ham {
    display: none;
  }
}

.closeIcon {
  display: none;
}

.mobile-menu {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: black;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding: 0;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-menu a:hover {
  color: orangered;
  transition: all 0.2s;
}

.mob-link {
  text-decoration: none;
  color: var(--color-white);
  font-size: 3rem;
}

.show-menu {
  transform: translateY(0);
}

.post-main__text {
  flex: 0 1 65%;
  background-color: var(--color-white);
  padding: 4rem;
}
.post-main__images {
  flex: 0 1 35%;
  background-color: var(--color-white);
}
.post-main__images figure {
  margin: 0;
  padding: 4rem;
}
.post-main__images figure img {
  width: 100%;
}

.form-container {
  background-color: #FDFDFD;
  padding: 5rem 10rem;
  font-size: 1.6rem;
  flex: 1 1 auto;
}

.post-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.post-form button {
  margin-top: 5rem;
}

/*# sourceMappingURL=styles.css.map */
