html {
    font-family: 'Lato', sans-serif;
    color: #00171F;
    

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(0, 36, 36);
}

.headings {
    font-weight:700;
    
}

.form-test {
    width: 600px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #FDFDFD;
    padding: 25px;
}

.contact_form {
    display:flex;
    flex-direction: column;
    width: 100%;
    

}

input[type=text] {
    border: none;
    border-bottom: 1px solid #00171F;
    background-color: inherit;
}

input:focus {
    outline: none;
    border-bottom: solid 4px red;
   
}







button, input, select, textarea, label {
    font-family: inherit;
    font-size: 100%;
    padding: 5px;
  }



label {
    font-weight:700;
    margin: 20px 0 10px 0;
}



/* 
form label {
    padding-bottom: 10px;
    font-weight: 700;
}

form input {
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    height: 30px;
}

.input_text {
    border-bottom: red;
}

.border_reset {
    border:none;

}

.border_reset :focus {
    border: none;
} */