
// declare css variables !these are different to SCSS Variables
:root {
    --color-primary: #00171F;
    --color-white: rgb(241, 241, 241);
    --color-light-gray: rgb(165, 164, 164);
    --color-dark-gray: rgb(83, 83, 83);
    --color-accent-dark: rgb(61, 116, 65);
    --color-accent-light: rgb(192, 248, 196);
    --color-neutral: rgb(247, 248, 228);

}

*,
*::after,
*::before {
    box-sizing: inherit;
}


html {

    //global reset
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-primary);
    // background-color: var(--color-dark-gray);

    margin:0;
    padding: 0;

    
    

}

body{
    margin: inherit;
}




.headings {
    font-weight:700;
    
}