
// FORM

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(9, 0, 49);
    
}

.form-test {
    width: 600px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #FDFDFD;
    padding: 25px;

    font-size: 1.6rem;
    margin: 20rem auto;
}

.contact_form {
    display:flex;
    flex-direction: column;
    width: 100%;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #00171F;
    background-color: inherit;
}

// input:focus  {
//     outline: none;
//     border-bottom: solid 4px var(--color-accent-dark);
   
// }

button, input, select, textarea, label {
    font-family: inherit;
    font-size: 100%;
    padding: 5px;
  }


label {
    font-weight:700;
    margin: 20px 0 10px 0;
}



// *************
// NAV version 2

.navigation {
    font-size: 1.4rem;
    font-weight: 700;

    @media only screen and (max-width:600px) {
        display: none;
    }


    & a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: orangered;
            transition: all .2s;
      
        } 
    }

    

    &__home {
        margin-left: 4rem;
    }

    &__links {
        display: flex;
        list-style: none;
        padding:0;
        margin-right: 4rem;

        & li {
            margin: 1rem;
        }
        
    }

}




// *************
// Hero

.hero {
    &__image {
        flex:0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        

        &--shape {
            height:40rem;
            width: 40rem;
            background-color: red;
        }
        
        
        
        @media only screen and (max-width:600px) {
            flex: 0 0 40%;
        }
        
    }

    &__content {
        flex: 0 0 50%;
        padding: 7rem;
        font-size: 1.6rem;

        @media only screen and (max-width:600px) {
            flex: 0 0 60%;
            padding: 4rem;
        }

        & a {
            text-decoration: none;
            color: var(--color-primary);
            font-weight: 700;

        }
        
    }
}


.main-content {


    &__card {
        flex: 1 1 30rem; 
        margin: 4rem;
        // min-width: 30rem;
        height: 40rem;
        background-color: #f1f1f1;
        font-size: 1.6rem;

        
        &--image {
            height: 18rem;
            // background-color: orangered;
            // background-image: url(/static/images/hero-image.jpg);
        }

        &--text {
            padding: 0 2rem;
        }
    }
}


//  Editing pages

.all_posts {
    font-size: 1.6rem;

    & h1 {
        margin: 4rem 0 0 4rem;
    }

    & ul {
        margin-bottom: 2rem;
    }
    
    
    & li {
        list-style: none;
        padding: 0;
        
    }
    
}

.delete {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.edit {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

// Mobile Menu

.ham {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    border: black solid 1px;
    border-radius: 50%;
    background: var(--color-white);
    cursor: pointer;
    z-index: 1;

    @media only screen and (min-width:600px) {
        display: none;
    }

}

.closeIcon {
    display: none;
}

.mobile-menu {
    margin:0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding:0;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & a:hover {
        color: orangered;
        transition: all .2s;
    }
}

.mob-link {
    text-decoration: none;
    color: var(--color-white);
    font-size: 3rem;
       
}

.show-menu {
    transform: translateY(0);
}

// posts page
.post-main {

&__text {
    flex: 0 1 65%;
    background-color: var(--color-white);
    padding: 4rem;
}

&__images {
    flex: 0 1 35%;
    background-color: var(--color-white);

    & figure {
        margin:0;
        padding: 4rem;

        & img {
            width: 100%;
        }

    }
}

}

.form-container {
    background-color: #FDFDFD;
    padding: 5rem 10rem;
    font-size: 1.6rem;
    flex: 1 1 auto;
}

.post-form {
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;

    & button {
        margin-top: 5rem;
    }
}