.container {
max-width: 120rem;
margin:0 auto;
background-color: var(--color-light-gray);

min-height: 100vh;

}



.navigation {
    height: 7rem;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero {
    height: 50rem;
    background-color: var(--color-dark-gray);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-white);
   
    //mask-image: linear-gradient(90deg rgba(0, 0, 0, 1.0), transparent);
    

    // height: 500px; 

}

.main-content {
    height: 100rem;
    background-color: var(--color-light-gray);

}

.footer{
    height: 7rem;
    background-color: var(--color-white);
}

