



.container {
    max-width: 120rem;
    margin:0 auto;
    background-color: var(--color-light-gray);
    min-height: 100vh;
}


.navigation {
    min-height: 7rem;
    background-color: var(--color-light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero {
    height: 50rem;
    background-color: var(--color-dark-gray);    
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-white);
    background: linear-gradient(90deg, rgba(0,12,23,0) 30%, rgba(228,228,228,1) 55%),
                url(/static/images/hero-image.jpg);
    background-size: cover;

    @media only screen and (max-width:800px) {
        height: 70rem;
        flex-direction: column;
        background: linear-gradient(180deg, rgba(0,12,23,0) 30%, rgba(228,228,228,1) 55%),
                url(/static/images/hero-image.jpg);
        background-size: cover;
    }

    @media only screen and (max-width:600px) {
        height: 80vh;
        flex-direction: column;
        background: linear-gradient(180deg, rgba(0,12,23,0) 30%, rgba(228,228,228,1) 55%),
                url(/static/images/hero-image.jpg);
        background-size: cover;
    }

}


.main-content {
    // height: 100rem;
    background-color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;

}

.footer{
    min-height: 7rem;
    background-color: var(--color-light-gray);;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}




