{% extends 'base.html' %}

{% block content %} 

<form action="{{ url_for('add_post') }}" method="POST">
    <label>Heading</label>
    <input name="heading" type="text" >
    <label>Content</label>
    <input type="text" name="content">
    <label>Ingredients</label>
    <input type="text" name="ingredients">
    <label>Difficulty</label>
    <input type="text" name="difficulty">
    <button type="submit">Add Post</button>
</form>

<p>All Posts</p>
{% for post in posts %}
<ul>
    <li>{{post.heading}}</li>
    <li><a href="{{url_for('edit_post',id=post.id)}}">Edit</a></li>
    <li><a href="{{url_for('delete_post',id=post.id)}}">Delete</a></li>
</ul>

<hr>
{% endfor %}


{% endblock %}