<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flex Practice</title>

    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

</head>
<body>
   <div class="container">

        <nav class="navigation">
            <span class="navigation__home">Home</span>
            <ul class="navigation__links">
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
            </ul>
        </nav>

        <section class="hero">
            hero
        </section>

        <main class="main-content"> 
            main 
        </main>

        <footer class="footer">
            footer
        </footer>




   </div>

</body>
</html>