<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flex Practice</title>

    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

</head>
<body>
   <div class="container">

        <nav class="navigation">
            <span class="navigation__home">Home</span>
            <ul class="navigation__links">
                <li> <a href="#">Random Post</a> </li>
                <li> <a href="#">About</a> </li>
                <li> <a href="#">Contact</a> </li>
            </ul>
        </nav>

        <section class="hero">
            <div class="hero__image">
                
            </div>

            <div class="hero__content">
                <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis soluta optio provident!</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quos quisquam temporibus doloribus delectus esse facere, nobis non at repudiandae excepturi modi et provident nulla aut quis ut ducimus alias.</p>
                <a href="#">Read more</a>
            </div>
        </section>

        <main class="main-content"> 
            <div class="main-content__card">
                <div class="main-content__card--image">
                    image here
                </div>
                <div class="main-content__card--text">
                    <h3>Lorem ipsum dolor, sit amet consectetur</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates eaque consequatur, in modi dolorem soluta. </p>
                </div>
            </div>

            <div class="main-content__card">
                <div class="main-content__card--image">
                    image here
                </div>
                <div class="main-content__card--text">
                    <h3>Lorem ipsum dolor, sit amet consectetur</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates eaque consequatur, in modi dolorem soluta. </p>
                </div>
            </div>

            <div class="main-content__card">
                <div class="main-content__card--image">
                    image here
                </div>
                <div class="main-content__card--text">
                    <h3>Lorem ipsum dolor, sit amet consectetur</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates eaque consequatur, in modi dolorem soluta. </p>
                </div>
            </div>

            <div class="main-content__card">
                <div class="main-content__card--image">
                    image here
                </div>
                <div class="main-content__card--text">
                    <h3>Lorem ipsum dolor, sit amet consectetur</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates eaque consequatur, in modi dolorem soluta. </p>
                </div>
            </div>

            <div class="main-content__card">
                <div class="main-content__card--image">
                    image here
                </div>
                <div class="main-content__card--text">
                    <h3>Lorem ipsum dolor, sit amet consectetur</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates eaque consequatur, in modi dolorem soluta. </p>
                </div>
            </div>

            <div class="main-content__card">
                <div class="main-content__card--image">
                    image here
                </div>
                <div class="main-content__card--text">
                    <h3>Lorem ipsum dolor, sit amet consectetur</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates eaque consequatur, in modi dolorem soluta. </p>
                </div>
            </div>





            

        <footer class="footer">
            footer
        </footer>




   </div>

</body>
</html>