<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Forms</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
</head>



<body>
        <nav>
            <div class="nav_container">
                    <div class="nav-home">
                            Home
                        </div>
            
                        <ul>
                            <li>Menu 1</li>
                            <li>Menu 2</li>
                            <li>Menu 3</li>
                            <li>Menu 4</li>
                                
                        </ul>
            </div>
           
        </nav>

    
    <div class="form-test">

        {% if msg_sent: %}
            <h1 class="headings">Message Sent!</h1>
        {% else: %}
            <h1 class="headings">Contact form</h1>
        {% endif %}

        <form class="contact_form" action="{{ url_for('contact')}}" method="post" id="contact_form">
            <label for="name">Name</label>
            <input type="text" placeholder="Han Solo" name="contact_name">

            <label for="email">Email</label>
            <input type="text" placeholder="solo@thefalcon.gal" name="contact_email">

            <label for="message">Message</label>
            <textarea name="contact_message" form="contact_form" placeholder="I have a bad feeling about this" cols="30" rows="10"></textarea>

            <input type="submit" value="Send">
        </form>

    </div>


</body>
</html>