{% extends 'base.html' %}

{% block content %} 

<header class="post-header-image">
    Big image goes here
</header>

<main class=post-main>
    <div class="post-main__text">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum perspiciatis voluptate ea?</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quia provident voluptatum, non ratione deleniti tenetur! Mollitia qui necessitatibus voluptatum minima, nam, sequi iusto magnam iure maxime soluta ex tempore?
        Debitis modi aperiam quos illo, distinctio praesentium laborum, sequi magnam sed iusto provident voluptatum quibusdam, vel beatae cum ad. Rem asperiores, eum vel impedit ipsam omnis voluptatibus. Veritatis, animi! Molestias.
        Quam omnis nobis ipsum quod dolore. Consequatur fuga fugit qui porro recusandae error sint, blanditiis esse, maxime fugiat nam ullam? Explicabo, consequuntur neque recusandae eos laudantium magnam aperiam illo velit!
        Veniam quas ipsum, molestias autem voluptatum quis. Aperiam repellat suscipit atque obcaecati architecto rerum, unde molestiae rem modi consequatur soluta dolorum nisi laboriosam maxime reprehenderit excepturi. Numquam tempore alias quibusdam!
        Quo quidem, quaerat dignissimos praesentium error sit aliquid officia a tempore eum sunt cumque autem itaque consectetur enim ullam illum! Quis similique, sed suscipit odit totam dolorum iusto autem placeat?</p>
        
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>

        <ol>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ducimus accusamus est laboriosam laudantium! Obcaecati.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ducimus accusamus est laboriosam laudantium! Obcaecati.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ducimus accusamus est laboriosam laudantium! Obcaecati.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ducimus accusamus est laboriosam laudantium! Obcaecati.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ducimus accusamus est laboriosam laudantium! Obcaecati.</li>

        </ol>

    </div>


    <div class="post-main__images">
        <figure>
            <img src="#" >
            <figcaption>Caption</figcaption>
        </figure>

        <figure>
            <img src="#" >
            <figcaption>Caption</figcaption>
        </figure>

        <figure>
            <img src="#" >
            <figcaption>Caption</figcaption>
        </figure>
    </div>

</main>

{% endblock %}