{% extends 'base.html' %}

{% block content %} 

<header class="post-header-image" style="background-image: url('/static/images/hero-image.jpg');">
    
</header>

<main class=post-main>
    <div class="post-main__text" >
        <h1>{{ post.heading }}</h1>
        
        <p>{{ post.content }} </p>
        
        <h2>Ingredients</h2>
        <ul>

            {% for item in ingredients %}
                <li>{{ item }}</li>
            {% endfor %}    
        </ul>

        <h2>Method</h2>
        <ol>
            {% for item in method %}
                <li>{{ item }}</li>
            {% endfor %}  
        </ol>

    </div>


    <div class="post-main__images">
        <figure>
            <img src="/static/images/hero-image.jpg" >
            <figcaption>Caption</figcaption>
        </figure>

        <figure>
            <img src="/static/images/hero-image.jpg" >
            <figcaption>Caption</figcaption>
        </figure>

        <figure>
            <img src="/static/images/hero-image.jpg" >
            <figcaption>Caption</figcaption>
        </figure>
    </div>

</main>

{% endblock %}