{% extends 'base.html' %}

{% block content %} 

<header class="post-header-image" style="background-image: url('/static/images/hero-image.jpg');">
    
</header>

<main class=post-main>
    <div class="post-main__text" >
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum perspiciatis voluptate ea?</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quia provident voluptatum, non ratione deleniti tenetur! Mollitia qui necessitatibus voluptatum minima, nam, sequi iusto magnam iure maxime soluta ex tempore?
        Debitis modi aperiam quos illo, distinctio praesentium laborum, sequi magnam sed iusto provident voluptatum quibusdam, vel beatae cum ad. Rem asperiores, eum vel impedit ipsam omnis voluptatibus. Veritatis, animi! </p>
        
        <h2>Ingredients</h2>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>

        <h2>Method</h2>
        <ol>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ducimus accusamus est laboriosam laudantium! Obcaecati.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ducimus accusamus est laboriosam laudantium! Obcaecati.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ducimus accusamus est laboriosam laudantium! Obcaecati.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ducimus accusamus est laboriosam laudantium! Obcaecati.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ducimus accusamus est laboriosam laudantium! Obcaecati.</li>

        </ol>

    </div>


    <div class="post-main__images">
        <figure>
            <img src="/static/images/hero-image.jpg" >
            <figcaption>Caption</figcaption>
        </figure>

        <figure>
            <img src="/static/images/hero-image.jpg" >
            <figcaption>Caption</figcaption>
        </figure>

        <figure>
            <img src="/static/images/hero-image.jpg" >
            <figcaption>Caption</figcaption>
        </figure>
    </div>

</main>

{% endblock %}